@font-face {
    font-family: 'Bitmgothic';
    src: url('bitgothicfontPL.ttf');
}
.text {
    -fx-font-family: 'Bitmgothic';

}

.button{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-radius: 0;
    -fx-background-color: #a8a8a8;
    -fx-border-style: solid inside;
    -fx-border-color: #5e5e5e #5e5e5e #404040 #404040;
    -fx-border-width: 7;
    -fx-font-size: 28pt;
}
.button:pressed {
    -fx-text-fill: white;
    -fx-background-color: #363636;
    -fx-border-color: #707070 #707070 #595959 #595959;
}

#LoginTextField{
    -fx-font-size: 20pt;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
#PasswordTextField{
    -fx-font-size: 20pt;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#GameName{
    -fx-font-size: 72pt;
}
#LoginText{
    -fx-font-size: 50pt;
}
#PasswordText{
    -fx-font-size: 50pt;
}
#LoginButton{
    -fx-font-size: 24pt;
}
#RegisterButton{
    -fx-font-size: 24pt;
}